* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  height: 100%;
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
}

.red {
  background-color: red;
  height: 100%;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.5s ease;
  width: 300px;
}

.blue {
  background-color: blue;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .red {
    transform: translate(0px);
  }
}
