* {
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  width: 100%;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}

@media screen and (min-width: 576px) {
  .green,
  .yellow {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .green,
  .yellow,
  .blue {
    width: 33.33333%;
  }
}
